.env
.venv/
__pycache__/
*.pyc
*.sqlite3
data_dump.json
/media/
staticfiles/
*.log
DATABASE_URL=postgresql://administrador1:12345@localhost/perfumeria

# Pagos
STRIPE_SECRET_KEY=sk_test_YOUR_SECRET_KEY_HERE
STRIPE_PUBLIC_KEY=pk_test_YOUR_PUBLIC_KEY_HERE
STRIPE_WEBHOOK_SECRET=whsec_test_YOUR_WEBHOOK_SECRET_HERE

RECAPTCHA_PUBLIC_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_PRIVATE_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
RESEND_API_KEY=re_aqySsxe3_GU8Vczm3dDwdW8JMXoBRcbBP
HUNTER_API_KEY=1e9846a68fb45ea462c43c7f75c37ec826d91c6a