Django==4.2.8
python-dotenv==1.0.0
psycopg2-binary==2.9.9
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
stripe==7.4.0
requests==2.31.0
gunicorn==21.2.0
whitenoise==6.6.0
boto3==1.26.137
django-storages==1.14.2
pillow==10.1.0
