<footer class="main-footer">
    <div class="footer-grid">
        <div class="footer-contact">
            <h3>Aura Essence</h3>
            <p><i class="fa-solid fa-location-dot"></i> Ciudad de México, México</p>
            <p><i class="fa-solid fa-phone"></i> +52 (55) 1234-5678</p>
            <p><i class="fa-solid fa-envelope"></i> info@auraessence.com</p>
            <p><i class="fa-solid fa-clock"></i> Lunes - Domingo: 9am - 9pm</p>
        </div>
        <div class="footer-links">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-legal">
            <h4>Legal</h4>
            <ul>
                <li><a href="#">Términos de Servicio</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Política de Devoluciones</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-links">
                <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Aura Essence. Todos los derechos reservados.</p>
    </div>
</footer>
